<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd
       ">

    <import resource="loggers.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode" value="2"/>
    </bean>

    <bean id="client" class="com.epam.edu.spring.core.Client"
          c:fullName="${name}"
          c:id="${id}"
          p:greeting="${greeting}"
    />
    <!--<bean id="client" class="com.epam.edu.spring.core.Client">-->
    <!--<property name="greeting" value="${greeting}" />-->
    <!--<constructor-arg value="${id}"/>-->
    <!--<constructor-arg value="${name}"/>-->
    <!--</bean>-->

    <util:map id="loggerMap"> <!--bean can be reused-->
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="app" class="com.epam.edu.spring.core.App"
          c:client-ref="client"
          c:defaultLogger-ref="cacheFileEventLogger"
          c:loggers-ref="loggerMap"
    />

    <!--<bean id="app" class="com.epam.edu.spring.core.App">-->
    <!--<constructor-arg ref="client"/>-->
    <!--<constructor-arg name="defaultLogger" ref="cacheFileEventLogger"/>-->
    <!--<constructor-arg>-->
    <!--<map>-->
    <!--<entry key="INFO" value-ref="consoleEventLogger"/>-->
    <!--<entry key="ERROR" value-ref="combinedEventLogger"/>-->
    <!--</map>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

</beans>