<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="loggers.xml"/>

    <bean id="client" class="com.epam.edu.spring.core.Client">
        <property name="greeting" value="What's up!" />
        <constructor-arg value="1"/>
        <constructor-arg value="John Snow"/>
    </bean>

    <bean id="app" class="com.epam.edu.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="fileEventLogger"/>
    </bean>

</beans>